@model Vidlee.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

    <h1>@Model.Name</h1>
<ul>
    <li>MembershipType: @Model.MembershipType.Name</li>
    @if (Model.DateOfBirth.HasValue)
    {
        <li>BirthDay: @Model.DateOfBirth.Value.ToShortDateString()</li>
    }
</ul>


